.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.infoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}
.img {
  width: 60px;
  border-radius: 60px;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.comment {
  color: var(--color-gray);
  font-size: 16px;
  line-height: 1.5;
  max-width: 430px;
}
