.wrapper {
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;

  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}
.img {
  max-width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}
.textContentWrapper {
  max-width: 526px;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.priceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.titleElement {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.icon {
  background-color: transparent;
}
.icon svg {
  fill: none;
  stroke: currentColor;
  transition:
    fill var(--transition),
    stroke var(--transition);
}
.icon:hover svg,
.icon.active svg {
  fill: var(--color-red);
  stroke: var(--color-red);
}
.infoWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.infoSubwrapper {
  display: flex;
  gap: 4px;
}
.reviews {
  text-decoration: underline;
}
.text {
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-gray);

  font-size: 16px;
  line-height: 1.5;
}
.featuresWrapper {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.feature {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-lightgray);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.button {
  padding: 16px 40px;
  border-radius: 200px;
  background: var(--color-red);
  transition: var(--transition);

  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
}
.button:hover {
  background: var(--color-darkred);
}
