.header {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.favoriteBtn {
  padding: 16px;
}
.favoriteBtn svg {
  fill: none;
  transition: fill var(--transition);
}
.favoriteBtn:hover svg {
  fill: var(--color-darkblue);
}
.active svg {
  fill: var(--color-darkblue);
}
