.wrapper {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.feature {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-lightgray);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
