.wrapper{
  margin-bottom: 80px;
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-darkblue);
  opacity: 0.6;
  margin-bottom: 8px;
  margin-bottom: 14px;
}
.subtitle {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 48px;
}
.subtitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 1px;
  background-color: var(--color-darkblue);
  opacity: 0.1;
  content: '';
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 8px;
  margin-bottom: 32px;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc((100% - 20px) / 3);
  height: 95px;
  cursor: pointer;

  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);

  transition: var(--transition);
}
.button:hover,
.button:focus,
.button input[type='checkbox']:checked,
.button input[type='radio']:checked {
  border: 1px solid var(--color-red);
}
.button input[type='checkbox'],
.button input[type='radio'] {
  display: none;
}
.label {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 8px;
}
