@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --color-darkblue: #101828;
  --color-gray: #475467;
  --color-red: #e44848;
  --color-darkred: #d84343;
  --color-yellow: #ffc531;
  --color-lightgray: #f2f4f7;
  --color-white: #f7f7f7;

  --transition: 0.3s ease;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-darkblue);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 4px;
  transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red);
}
